{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="jumbotron  text-center">
        <div class="container">
            <h1 class="display-4"> <b>Agence</b></h1>
            <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio quos est labore consectetur et? Similique, at repellat. Incidunt iure quibusdam ipsum, assumenda labore nulla numquam officia ipsam doloremque est pariatur!!</p>
        </div>
    </div>
    <div class="container">
        <h2>Les derniers biens</h2>
        <div class="row flex">
            {% for prop in props %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="">{{ prop.title}}</a>
                            </h5>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
